html,
body {
  border: 0;
  margin: 0;
  padding: 0;
}
body {
  font: 14px 'Lato', Arial, sans-serif;
  min-width: 100%;
  min-height: 100%;
  color: #666;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
